[submodule "spritz-typescript-sdk"]
	path = spritz-typescript-sdk
	url = https://github.com/Spritz-Labs/spritz-typescript-sdk.git
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
